# Go
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories
# vendor/

# Go workspace file
go.work
go.work.sum

# Compiled binaries
/bin

# Next.js / Node.js
/apps/client/node_modules
/apps/client/.next/
/apps/client/.env.local
/apps/client/npm-debug.log*
/apps/client/yarn-error.log

# Environment variables
.env
.env.local
.env.production
.env.development

# Editor/IDE
.idea/
.vscode/

# OS-specific
.DS_Store

# Log files
*.log
*.pem 